@use "../global" as *;

.c-button {
  position: relative;
  display: inline-block;
  padding: calc(14 * var(--to-rem)) calc(60 * var(--to-rem));
  border: 1px solid currentcolor;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: calc(15 * var(--to-rem));
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(20 * var(--to-rem));
    width: calc(8 * var(--to-rem));
    height: calc(8 * var(--to-rem));
    border-top: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    translate: 0 -50%;
    rotate: 45deg;
    transition:
      rotate 0.3s,
      translate 0.3s;
  }

  @media (any-hover: hover) {
    &:hover::before {
      translate: 5px -50%;
    }
  }
}

.c-button[data-color="black"] {
  border-color: var(--color-black);
  background-color: var(--color-black);
  color: var(--color-white);

  &::before {
    border-top: 2px solid currentcolor;
    border-right: 2px solid currentcolor;
  }
}
