@use "../global" as *;

.c-section-title {
  display: grid;
  gap: calc(8 * var(--to-rem));
  justify-items: center;
  width: max-content;
  text-align: center;

  @include mq(md) {
    gap: calc(12 * var(--to-rem));
  }

  &[data-align="center"] {
    justify-items: center;
    text-align: center;
  }

  &[data-align="left"] {
    justify-items: start;
    text-align: left;
  }

  &[data-align="right"] {
    justify-items: end;
    text-align: right;
  }
}

.c-section-title::after {
  content: "";
  display: block;
  width: 60%;
  height: calc(3 * var(--to-rem));
  background-color: var(--color-orange);

  @include mq(md) {
    width: 80%;
  }
}

.c-section-title__main {
  color: var(--color-text);
  font-family: var(--title-font-family);
  font-size: calc(32 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1;
  text-transform: uppercase;

  @include mq(md) {
    font-size: calc(48 * var(--to-rem));
  }
}

.c-section-title__sub {
  color: var(--color-text);
  font-size: calc(14 * var(--to-rem));
  font-weight: var(--fw-regular);
  line-height: 1.4;

  @include mq(md) {
    font-size: calc(16 * var(--to-rem));
  }
}
