@use "sass:math";

html {
  font-size: 100%;
}

// Safari対策
a[href^="tel"] {
  text-decoration: none;
}

a {
  color: inherit;
  -webkit-tap-highlight-color: transparent;

  /* 強調をなくす */
}

a:hover {
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// cursor:pointer
:where(:any-link, button, [type="button"], [type="reset"], [type="submit"], label[for], select, summary, [role="tab"], [role="button"]) {
  cursor: pointer;
}

// iosでボタンをダブルタップしてしまったときに拡大されてしまうのを防止
:where(button, [type="button"], [type="reset"], [type="submit"]) {
  touch-action: manipulation;
}

// フォーカスのデフォルトをなくす
:focus:not(:focus-visible) {
  outline: none;
}

// フォームのデフォルトのフォントサイズを16pxにする
// 16px未満だとiosでズームされてしまうため
input[type="text"] {
  font-size: 1rem;

  /* = 16px */
}

textarea {
  field-sizing: content;
}

body {
  color: var(--color-text);
  font-family: var(--base-font-family);
  font-weight: var(--fw-regular);
}
