@use "sass:math";

@property --root-font-size {
  syntax: "<length>";
  inherits: false;
  initial-value: 16px;
}

// ローカルフォントのNoto sans JPを優先して使用するためのフォントファイルを読み込む
@font-face {
  font-family: "Local Noto Sans JP";
  src: local("Noto Sans JP");
}

:root {
  /* inner */
  --inner: min(1080px, 100%);
  --inner-sp: min(500px, 100%);
  --padding-inner: 20px;

  /* z-index */
  --z-index-header: 900;

  /* color */
  --color-white: #fff;
  --color-text: #0d2936;
  --color-black: #000;
  --color-gray: #f0f0f0;
  --color-border: #aaaaaf;
  --color-accent: #408f95;
  --color-primary: #234f5e;
  --color-secondary: #00f;
  --color-orange: #de8430;

  /* font-weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* font-family */
  --base-font-family: "Local Noto Sans JP", "Noto Sans JP", sans-serif;
  --title-font-family: "Lato", sans-serif;

  // 16pxを基準として、1pxあたりのremを計算
  --to-rem: calc(tan(atan2(1px, var(--root-font-size))) * 1rem);

  // how to use
  // font-size: calc(16 * var(--to-rem));

  /* transition duration */
  --duration: 0.3s;

  /* header height */
  --header-height: 64px;

  @media screen and (width >= 768px) {
    --header-height: 80px;
  }
}
