@use "../global" as *;

// 送信完了ページ用のスタイル
.p-contact__complete {
  padding-block: calc(80 * var(--to-rem));
  text-align: center;
}

.p-contact__complete-title {
  font-size: calc(32 * var(--to-rem));
  font-weight: var(--fw-bold);

  @include mq(md) {
    font-size: calc(40 * var(--to-rem));
  }
}

.p-contact__complete-text {
  margin-block-start: calc(30 * var(--to-rem));
  color: var(--color-text);
  font-size: calc(16 * var(--to-rem));
  line-height: 1.8;

  @include mq(md) {
    font-size: calc(18 * var(--to-rem));
  }
}

.p-contact__complete-button {
  margin-block-start: calc(50 * var(--to-rem));
  margin-inline: auto;
}
