@use "../global" as *;

.p-contact {
  padding-block: calc(72 * var(--to-rem));
}

.p-contact__form {
  margin-block-start: calc(64 * var(--to-rem));
}

.p-contact__title {
  display: grid;
  place-items: center;
}
