@use "../global" as *;

.p-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(320 * var(--to-rem)), 1fr));
  gap: calc(24 * var(--to-rem));

  @include mq(md) {
    gap: calc(32 * var(--to-rem));
  }
}
