@use "../global" as *;

.p-error {
  padding-block: calc(60 * var(--to-rem));

  @include mq(md) {
    padding-block: calc(80 * var(--to-rem));
  }
}

.p-error__header {
  margin-block-end: calc(24 * var(--to-rem));
  text-align: center;

  @include mq(md) {
    margin-block-end: calc(32 * var(--to-rem));
  }
}

.p-error__title {
  color: var(--color-text);
  font-size: calc(24 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.6;

  @include mq(md) {
    font-size: calc(32 * var(--to-rem));
  }
}

.p-error__content {
  max-width: calc(640 * var(--to-rem));
  margin-inline: auto;
  color: var(--color-text);
  font-size: calc(14 * var(--to-rem));
  line-height: 1.8;
  text-align: center;

  @include mq(md) {
    font-size: calc(16 * var(--to-rem));
  }
}

.p-error__content p + p {
  margin-block-start: calc(24 * var(--to-rem));
}
