@use "../global" as *;

.p-mv {
  position: relative;
  z-index: 1;
  width: 100%;
  height: max(100svh, calc(450 * var(--to-rem)));

  @include mq(md) {
    height: max(calc(500 * var(--to-rem)), 100%);
  }
}

.p-mv__inner {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: inherit;
}

.p-mv__title-wrap {
  position: absolute;
  inset: 0;
  z-index: 2;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: calc(24 * var(--to-rem));
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding-inline: var(--padding-inner);
  color: var(--color-white);
  text-align: center;
}

.p-mv__main-title {
  font-size: calc(32 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-shadow: 0 2px 4px oklch(from var(--color-black) l c h / 30%);

  @include mq(md) {
    font-size: clamp(calc(32 * var(--to-rem)), 5cqi, calc(64 * var(--to-rem)));
  }
}

.p-mv__sub-title {
  font-size: calc(18 * var(--to-rem));
  line-height: 1.6;
  text-shadow: 0 1px 2px oklch(from var(--color-black) l c h / 30%);

  @include mq(md) {
    font-size: clamp(calc(18 * var(--to-rem)), 3cqi, calc(24 * var(--to-rem)));
  }
}

.p-mv__splide {
  width: 100%;
  height: 100%;
}

.p-mv__splide .splide__track {
  height: 100%;
}

.p-mv__splide .splide__list {
  height: 100%;
}

.p-mv__splide .splide__slide {
  height: 100%;
}

.p-mv__splide .splide__slide-image {
  width: 100%;
  height: 100%;
}

.p-mv__splide .splide__slide-image picture,
.p-mv__splide .splide__slide-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
