@use "../global" as *;

.p-sample {
  padding-block: calc(60 * var(--to-rem));

  @include mq(md) {
    padding-block: calc(80 * var(--to-rem));
  }
}

.p-sample__inner {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: calc(16 * var(--to-rem));

  @include mq(md) {
    gap: calc(24 * var(--to-rem));
  }
}

.p-sample__title {
  margin-block-start: calc(24 * var(--to-rem));

  @include mq(md) {
    margin-block-start: calc(32 * var(--to-rem));
  }
}

.p-sample__button-wrap {
  width: min(calc(240 / 16 * 1rem), 100%);

  > * {
    width: 100%;
  }
}

.p-sample__divider {
  width: 100%;
  height: 1px;
  max-width: calc(600 * var(--to-rem));
  margin: 0;
  border: 0;
  background-color: var(--color-gray);
}

.p-sample__bg {
  width: 100%;
  height: calc(300 * var(--to-rem));
  max-width: calc(600 * var(--to-rem));
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include mq(md) {
    height: calc(400 * var(--to-rem));
  }
}

.p-sample__image {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: calc(512 * var(--to-rem));
  border-radius: 8px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100 * var(--to-rem));
    background: linear-gradient(to top, var(--color-white), transparent);
    pointer-events: none;
  }
}

.p-sample__image img {
  display: block;
  width: 100%;
  height: auto;
}

.p-sample p {
  margin: 0;
  color: var(--color-text);
  font-size: calc(14 * var(--to-rem));

  @include mq(md) {
    font-size: calc(16 * var(--to-rem));
  }
}
